* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: rgb(81, 175, 251);
}

.App {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}